.resultContainer {
    width: 327px;
    border-radius: 15px;
    background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
    padding: 3.4rem 2.4rem 3.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultContainer img {
    width: 144px;
}

.selectedContainer {
    width: 168px;
    border-radius: 22.5px;
    background: var(--Dark-Blue, #262E38);
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedContainer span {
    color: var(--Orange, #FC7614);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0.5rem 1.2rem;
}

.resultContainer h1 {
    color: var(--Pure-White, #FFF);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding-top: 2.9rem;
}

.resultContainer p {
    color: var(--Light-Grey, #969FAD);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 2.2rem;
    padding-top: 1rem;
}

@media only screen and (min-width: 1440px) {
    .resultContainer {
        width: 412px;
        border-radius: 30px;
        padding: 4.5rem 0;
    }

    .resultContainer img {
        width: 162px;
    }

    .selectedContainer {
        width: 193px;
        margin-top: 2.2rem;
    }

    .selectedContainer span {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.4rem;
    }

    .resultContainer h1 {
        font-size: 2.8rem;
        font-weight: 700;
        padding-top: 3.2rem;
    }

    .resultContainer p {
        font-size: 1.rem;
        font-weight: 400;
        line-height: 2.4rem;
        width: 340px;
    }
}